name: Xteve Docker Image Publish

on:
  workflow_dispatch:
  repository_dispatch:

jobs:
  Xteve_Publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Get latest versions
      id: getVersion
      run: |
        VERSION=$(wget -qO- -t1 -T2 https://api.github.com/repos/xteve-project/xTeVe/releases/latest | grep '"name"' | awk -F "\"" '{printf $4}')
        echo "Version=$VERSION" >> $GITHUB_OUTPUT
     
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_HUB_USER }}
        password: ${{ secrets.DOCKER_HUB_TOKEN }}

    - name: Login to AliYun Registry
      uses: docker/login-action@v3
      with:
        registry: registry.cn-chengdu.aliyuncs.com
        username: ${{ secrets.ALIYUN_USER }}
        password: ${{ secrets.ALIYUN_TOKEN }}

    - name: Build and Push Docker images
      uses: docker/build-push-action@v6
      with:
        file: Dockerfile
        context: .
        push: true
        build-args: |
          VERSION=${{ steps.getVersion.outputs.Version }}
        tags: |
          clion007/xteve:latest
          clion007/xteve:${{ steps.getVersion.outputs.Version }}
          registry.cn-chengdu.aliyuncs.com/clion/xteve:latest
          registry.cn-chengdu.aliyuncs.com/clion/xteve:${{ steps.getVersion.outputs.Version }}
        
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
        retain_days: 0
        keep_minimum_runs: 2
